img{
    max-width: 100%;
    margin: 0%;
    padding: 0%;
}

ul .li {
    list-style-type: none;
    padding: 0%;

}

header{
    padding: 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left .menu {
    display: flex;
align-items: center;
}

.left .menu li {
    margin-right: 50px;
    font-weight: 600;
}

.left .menu li a {
    padding: 5px;
    position: relative;
    font-size: 18px;
    
}

.left .menu li a::before{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform:translateX(-50%);
    width: 10px;
    height: 10px;
    border-radius: 100px;
    background-color: black;
    opacity: 0;
    transition: .4s;

}

.left .menu li a:hover{
    color: black;
}

.left .menu li a:hover::before{
    bottom: -5px;
    opacity: 1;
}

.logo{
    text-align: center;
}

.right form{
    position: relative;
    width: 250px;
    height: 45px;
    margin-right: 20px;
}

.right form input{
   width: 90%; 
   height: 90%;
   border:none;
   box-shadow: 0 0 8px rgb(231, 204, 204);
   padding: 5px 15px;
   border-radius: 50px;
}

.right form button{
    position: absolute;
    right: 0%;
    top: 0%;
    width: 20px;
    height: 90%;
    background-color: black;
    border: none;
    

}

