body {
    
    background: #FEDBB7;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    min-height: 100vh;
  }
  img{
      position: fixed;
    top: -0.5%;
    left: 0%;
    border-radius: 550px;
    opacity:0.9;
    transition: 0.5s;
  
     
  }
  h1{
           transition: transform 2s;
      font-size: 23px;
  color: rgb(143, 49, 49);
   font-family: Copperplate;
  }
  .card:hover > p{
      opacity:1;
         transform: scale(1.5)
      top:80%;
   
  }
  
  img, #parent {
      cursor: pointer;
      
  }
  .card:hover > img{
      opacity:1;
         transform: scale(1.4);
               
  }
  .card header {
      position:absolute;
   
    top: 120%;
    left: 0%;
      padding: 1px;
      border-radius:  25px;
     width: 450px;
           height: 90px;
       transition: all .5s;
      opacity:0;
  }
  .card:hover > header{
    
      opacity:1;
           width: 450px;
           height: 90px;
               transform: translateY(-120px);
  }
  
   .card {
  
             transition: transform .7s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 600px;
    margin: auto;
    text-align: center;
    font-family: arial;
    background: rgb(71, 43, 43);
      width: 450px;
    height: 450px;
  }
  .card:hover{
  
     transform: scale(1.08)
  }
    .centeri{ 
    position: fixed;
    top: 50%;
    left: 50%;
   
    transform: translate(-50%, -50%);
    }
    span{
      
      position: relative;
    }
    